@use '/src/sass/base/variables.scss' as *;

@mixin circle {
    &:before {
        content: '';
        position: absolute;
        top: -10px;
        left: 50%;
        transform: translateX(-50%);
        height: 36px;
        width: 36px;
        border-radius: 100%;
        background-color: $main_color;
        z-index: -1;
    }
}

@mixin circle-small {
    &:before {
        content: '';
        position: absolute;
        transform: translateX(-50%);
        height: 15px;
        width: 15px;
        border-radius: 100%;
        background-color: $main_color;
        z-index: -1;
    }
}

@mixin circle-mob {
    &:before {
        content: '';
        position: absolute;
        top: -10px;
        left: 10%;
        height: 36px;
        width: 36px;
        border-radius: 100%;
        background-color: $dc;
        z-index: -1;
    }
}

@mixin line {
    &:after {
        content: '';
        position: absolute;
        bottom: -25px;
        left: 48%;
        height: 2px;
        width: 60px;
        background-color: $main_color;
    }
}