// icons for html
// <i class="fa-brands fa-instagram"></i>
// <i class="fa-brands fa-square-facebook"></i>
// <i class="fa-brands fa-telegram"></i>
// <i class="fa-brands fa-github"></i>

// font-weigt
$mt: 400;
$st: 700;

//colors
$bcgc: #ffa501;
$mc: #000;