// font-weigt
$mt: 500; // main text
$st: 700; // secondary text

//colors
$main_color: #8d7663;
$dc: #ffa501; // secondary color
$mtc: #000; // main text colot
$white: #f5f0f0; // white color

// devices
$mobile-min: 375px;
$mobile: 576px;
$tablet: 768px;
$desctop: 1024px;
$laptop: 1440px;