@use '/src/sass/base/mixin.scss' as *;
@use '/src/sass/base/variables.scss' as *;

.about {
    padding-top: 120px;

    .container {
        display: flex;
        gap: 70px;
    }

    &__photo {
        width: 400px;
        height: 550px;
        object-fit: cover;
    }

    &__wrapper {
        width: 60%;
        padding-top: 18px;
    }

    &__title-h2 {
        &:before {
            bottom: 0px;
            left: -15px;
            transform: translateX(0);
        }
    }

    &__title-h3 {
        margin-left: 14px;

        &:after {
            bottom: 2px;
            left: 2px;
        }
    }

    &__text {
        margin-top: 24px;
        font-weight: $mt;
        font-size: 18px;
        line-height: 21px;
        color: $mtc;
    }

    &__skills {
        margin-top: 40px;
        display: flex;
        flex-wrap: wrap;
        justify-content: start;
        column-gap: 80px;
        row-gap: 50px;
    }

    &__card {
        width: 260px;
        position: relative;
        margin-left: 20px;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        gap: 20px;
        @include circle;

        &:before {
            top: 10px;
            left: -15px;
            transform: translateX(0);
        }

        z-index: 1;
    }

    &__img {
        margin-top: 30px;
        object-fit: cover;
    }

    &__descr {
        margin-top: 10px;
        font-weight: $mt;
        font-size: 12px;
        line-height: 18px;
        color: $mtc;
    }
}