@use '/src/sass/base/mixin.scss' as *;
@use '/src/sass/base/variables.scss' as *;

.price {
    padding-top: 120px;

    &__header {
        position: relative;
        text-align: center;
        @include line;

        &:after {
            left: 48.5%;
        }
    }

    &__wrapper {
        padding: 85px 25px 0 25px;
        display: grid;
        grid-template: repeat(3, minmax(45px, auto)) / repeat(2, auto);
        grid-auto-rows: minmax(45px, auto);
        row-gap: 45px;
        justify-content: space-between;
    }

    &__card {
        position: relative;
        display: grid;
        grid-template: repeat(2, minmax(21px, auto)) / repeat(2, auto);
        row-gap: 5px;
        padding-left: 25px;
        justify-content: space-between;
        @include circle-small;

        &:before {
            top: 5px;
        }
    }

    &__descr {
        font-weight: $mt;
        font-size: 13px;
        color: $mtc;
    }

    .end {
        justify-self: space-between;
    }
}