@use '/src/sass/base/variables.scss' as *;
@use '/src/sass/base/mixin.scss' as *;

@media screen and (max-width: $desctop) {
    .about {
        padding-top: 80px;

        &__text {
            font-size: 16px;
        }

        &__skills {
            gap: 20px;
        }

        &__card {
            width: 230px;
        }
    }
}

@media screen and (max-width: $tablet) {
    .about {
        padding-top: 60px;

        &__card {
            width: 100%;
        }
    }
}

@media screen and (max-width: $mobile) {
    .about {
        .container {
            flex-direction: column;
        }

        &__photo {
            width: 100%;
            height: 100%;
        }

        &__wrapper {
            width: 100%;
            padding-top: 0;
        }

        &__title-h2 {
            text-align: center;

            &:before {
                left: 38%;
            }
        }

        &__title-h3 {
            text-align: center;

            &:after {
                bottom: -10px;
                left: 40%;
            }
        }

        &__text {
            text-align: left;
        }

        &__skills {
            row-gap: 40px;
        }
    }
}