@use '/src/sass/base/variables.scss' as *;
@use '/src/sass/base/mixin.scss' as *;


@media screen and (max-width: $laptop) {}

@media screen and (max-width: $desctop) {
    .contacts {
        padding-top: 80px;

        &__photo {
            img {
                height: 100%;
            }
        }
    }
}

@media screen and (max-width: $tablet) {
    .contacts {
        &__photo {
            display: none;
        }

        &__wrapper {
            grid-template-columns: repeat(1, 1fr);
        }
    }
}

@media screen and (max-width: $mobile) {
    .contacts {
        &__text {
            text-align: center;
        }

        &__list {
            justify-content: center;
        }

        &__form {
            grid-template-rows: repeat(1, 45px 45px 190px);
            grid-template-columns: repeat(1, 1fr);
        }

        &__textarea {
            grid-column: unset;
        }

        &__triggers {
            grid-column: unset;
            grid-template-columns: repeat(1, .6fr);
            justify-content: center;
            gap: 20px;
        }

        &__button {
            padding: 5px;
        }
    }
}

@media screen and (max-width: $mobile-min) {
    .contacts {

        &__title-h3 {
            &::after {
                top: 115%;
            }
        }

        &__wrapper {
            padding: 0;
        }
    }
}