@use '/src/sass/base/variables.scss' as *;
@use '/src/sass/base/mixin.scss' as *;

@media screen and (max-width: $desctop) {
    .experience {
        padding-top: 80px;
    }
}

@media screen and (max-width: $tablet) {
    .experience {
        .title-h3 {
            &:after {
                left: 45%;
            }
        }
    }
}

@media screen and (max-width: $mobile) {
    .experience {
        &__wrapper {
            padding-left: 20px;
            padding-right: 20px;
            grid-template-columns: repeat(1, 1fr);
            row-gap: 50px;
        }

        &__subheader {
            padding-top: 35px;
        }
    }
}