@use '/src/sass/base/variables.scss' as *;
@use '/src/sass/base/mixin.scss' as *;

@media screen and (max-width: $desctop) {
    .price {
        padding-top: 80px;
    }
}

@media screen and (max-width: $tablet) {
    .price {
        &__header {
            &:after {
                left: 46%;
            }
        }

        &__wrapper {
            padding: 60px 0 0 0;
            gap: 20px;
            grid-template-rows: repeat(auto, 1fr);
        }

        &__card {
            padding-left: 15px;
        }
    }
}

@media screen and (max-width: $mobile) {
    .price {
        &__wrapper {
            padding: 60px 0 0 0;
            gap: 40px;
            grid-template-columns: repeat(1, 1fr);
        }
    }
}