@use '/src/sass/base/variables.scss' as *;
@use '/src/sass/base/mixin.scss' as *;

@media screen and (max-width: $desctop) {
    .works {
        padding-top: 80px;
    }
}

@media screen and (max-width: $tablet) {
    .works {

        &__wrapper {
            grid-template-columns: repeat(3, 1fr);
        }

        .plans {
            grid-row: unset;
            grid-column: unset;
        }

        .mac {
            grid-row: unset;
            grid-column: unset;
        }

        .axit {
            grid-column: unset;
        }
    }
}

@media screen and (max-width: $mobile) {
    .works {

        &__wrapper {
            grid-template-columns: repeat(2, 1fr);
            gap: 10px;
        }
    }
}

@media screen and (max-width: $mobile-min) {
    .works {

        &__wrapper {
            grid-template-columns: repeat(1, 1fr);
        }
    }
}