@use '/src/sass/base/mixin.scss' as *;
@use '/src/sass/base/variables.scss' as *;

.title-h1 {
    margin-top: 10px;
    font-weight: $st;
    font-size: 48px;
    line-height: 125%;
    color: $mtc;
}

.title-h2 {
    position: relative;
    font-weight: $st;
    font-size: 16px;
    color: $mtc;
    @include circle;
}

.title-h3 {
    position: relative;
    margin-top: 10px;
    font-weight: $st;
    font-size: 36px;
    color: $mtc;
    @include line;
}

.title-h4 {
    font-weight: $st;
    font-size: 20px;
    color: $mtc;
}

.subtitle {
    font-size: 14px;
    font-weight: $st;
    color: $mtc;
}